.portada{
  background-image: url("../public/img/gamingPortada.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.logoPortada{
    display: flex;
    cursor: pointer;
}
.divLogo{
    display: flex;
    width: 8%;
    padding-bottom: 3rem;
}

.titulo{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(235, 235, 235);
  font-size: 500%;
}
@media (max-width: 768px) {
  .titulo{
    font-size: 600%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
  }
}
@media (min-width: 768px) {
  .titulo{
    font-size: 600%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
  }
}
.botonera{
    font-size: 100%;
    height: 10vh;
    color: #ff00c8;
    display: block;
    margin-bottom: 10rem;
    text-align: center;
  }
  @media (max-width: 768px) {
    .botonera{
      display: none;
    }
  }
  @media (min-width: 768px) {
    .botonera{
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  .hvr-horizon {
  }

@media (min-width: 768px) {
    /* Shutter Out Horizontal */
    .hvr-horizon {
      padding: 2.5% 7.5%;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
    }
    .hvr-horizon:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to top, #0088ff, #ff00d4) no-repeat center center fixed;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 50%;
      transform-origin: 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    .hvr-horizon:hover, .hvr-horizon:focus, .hvr-horizon:active {
      color: rgb(255, 255, 255);
    }
    .hvr-horizon:hover:before, .hvr-horizon:focus:before, .hvr-horizon:active:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.headerPadding{
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid rgb(48, 48, 48);
  background-color: rgb(51, 51, 51);
}
.header{
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}
@media(max-width: 424px) {
  .header{
      display: block;
      text-align: center;
  }
}
.logo{
  width: 5rem;
}
@media(min-width: 1024px) {
  .logo{
      width: 11%;
  }
}
.navegacion{
  margin-top: 1.6rem;
  font-weight: bold;
  font-size: 140%;
  margin-right: 5rem;
}
@media(max-width: 424px) {
  .navegacion{
      margin-right: 0;
      margin-left: -.5rem;
  }
}
.link{
  margin-left: 1rem;
  
}
@media(max-width: 424px) {
  .link{
      display: block;
      margin-bottom: 1.2rem;
  }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.body{
  padding: 0 1rem;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.footer{
  padding: 3%;
  text-align: center;
  background-color: rgb(35, 35, 35);
}